<div class="item-boxs position-sticky top-0">
    <div class="item-box shadow-box">
        <div class="title d-flex align-items-center justify-content-between">
            <h6 class="font-14">محدوده قیمت</h6>
            <a class="btn border-0" data-bs-toggle="collapse" href="#collapsePrice" role="button">
                <i class="bi bi-chevron-down"></i>
            </a>
        </div>
        <div class="desc collapse show" id="collapsePrice">
            <form action="{% url 'product_list_user' %}" method="get">
                <div class="filter-item-content">
                    <div class="form-group">
                        <input type="range" class="catRange">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="number" name="min_price" min="100000"
                                    class="form-control input-range-filter"
                                    placeholder="از 100,000"
                                    value="{{ selected_filters.min_price }}">
                        </div>
                        <div class="col-6">
                            <input type="number" name="max_price" min="100000" max="30000000"
                                    class="form-control input-range-filter"
                                    placeholder="تا 30,000,000"
                                    value="{{ selected_filters.max_price }}">
                        </div>
                    </div>
                </div>
                {% for key, values in request.GET.lists %}
                    {% for value in values %}
                        {% if key != 'min_price' and key != 'max_price' %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div class="text-center mb-3 mt-2">
                    <input type="submit" class="btn main-color-green text-white rounded-pill px-5 py-2" value="اعمال فیلتر">
                </div>
            </form>
        </div>
    </div>

    <div class="item-box shadow-box">
        <div class="title d-flex align-items-center justify-content-between">
            <h6 class="font-14">دسته بندی</h6>
            <a class="btn border-0" data-bs-toggle="collapse" href="#collapseItemBoxCategory" role="button">
                <i class="bi bi-chevron-down"></i>
            </a>
        </div>
        <div class="desc collapse show" id="collapseItemBoxCategory">
            <form action="{% url 'product_list_user' %}" method="get">
                {% for key, values in request.GET.lists %}
                    {% for value in values %}
                        {% if key != 'category' %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div class="filter-item-content">
                    {% include 'website/product/search-product-categories.html' with categories=categories %}
                </div>
                <div class="text-center mb-3 mt-2">
                    <input type="submit" class="btn main-color-green text-white rounded-pill px-5 py-2" value="اعمال فیلتر">
                </div>
            </form>
        </div>
    </div>

    <div class="item-box shadow-box">
        <div class="title d-flex align-items-center justify-content-between">
            <h6 class="font-14">برند</h6>
            <a class="btn border-0" data-bs-toggle="collapse" href="#collapseItemBoxBrand" role="button">
                <i class="bi bi-chevron-down"></i>
            </a>
        </div>
        <div class="desc collapse show" id="collapseItemBoxBrand">
            <form action="{% url 'product_list_user' %}" method="get">
                {% for key, values in request.GET.lists %}
                    {% for value in values %}
                        {% if key != 'brand' %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div class="filter-item-content">
                    {% for brand in brands %}
                    <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                        <div class="form-check">
                            <label for="brand-{{ brand.slug }}" class="form-check-label">
                                {{ brand.name }}
                            </label>
                            <input type="checkbox" name="brand" value="{{ brand.slug }}" id="brand-{{ brand.slug }}"
                                    class="form-check-input"
                                    {% if brand.slug in selected_filters.brand %}checked{% endif %}>
                            <span class="fw-bold font-14">({{ brand.product_count }})</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center mb-3 mt-2">
                    <input type="submit" class="btn main-color-green text-white rounded-pill px-5 py-2" value="اعمال فیلتر">
                </div>
            </form>
        </div>
    </div>

    <div class="item-box shadow-box">
        <div class="title d-flex align-items-center justify-content-between">
            <h6 class="font-14">جنس</h6>
            <a class="btn border-0" data-bs-toggle="collapse" href="#collapseItemBoxMaterial" role="button">
                <i class="bi bi-chevron-down"></i>
            </a>
        </div>
        <div class="desc collapse show" id="collapseItemBoxMaterial">
            <form action="{% url 'product_list_user' %}" method="get">
                {% for key, values in request.GET.lists %}
                    {% for value in values %}
                        {% if key != 'material' %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div class="filter-item-content">
                    {% for material in materials %}
                    <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                        <div class="form-check">
                            <label for="material-{{ material.slug }}" class="form-check-label">
                                {{ material.name }}
                            </label>
                            <input type="checkbox" name="material" value="{{ material.slug }}" id="material-{{ material.slug }}"
                                class="form-check-input"
                                {% if material.slug in selected_filters.material %}checked{% endif %}>
                            <span class="fw-bold font-14">({{ material.product_count }})</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center mb-3 mt-2">
                    <input type="submit" class="btn main-color-green text-white rounded-pill px-5 py-2" value="اعمال فیلتر">
                </div>
            </form>
        </div>
    </div>
</div>