{% extends "admin/admin-base.html" %}
{% block title %}| جزئیات محصولات {% endblock %}
{% block inner_title %} جزئیات محصولات {% endblock %}
{% block card_title %}جزئیات ها{% endblock%}
{% block panel_content %}

<p><a href="{% url 'detail_create' %}" class="btn btn-primary p-2 m-2">افزودن جزئیات جدید</a></p>
{% if details %}
<table>
    <thead>
        <tr>
            <th>نام</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        {% for detail in details %}
            <tr>
                <td>{{ detail.name }}</td>
                <td>
                    <a class="action-link" href="{% url 'detail_update' detail.pk %}" title="تغییر">
                        <i class="icon ti-pencil-alt"></i>
                    </a>
                    <a class="action-link" href="{% url 'detail_delete' detail.pk %}" title="حذف">
                        <i class="icon ti-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}