{% load static %}
<div class="panel-nav-logo">
    <a href="" class="text-center d-block mb-3">
        <img src="{% static 'img/logo.png'%}" alt="" class="img-fluid" width="200">
    </a>
</div>
<div class="penel-nav">
    <div class="panel-nav-nav">
        <nav class="navbar profile-box-nav">
            <ul class="navbar-nav flex-column">
                <li id="profile" data-url="{% url 'customer_profile' %}" class="nav-item ">
                    <a class="nav-link">
                        <i class="bi bi-person-circle"></i> پروفایل
                    </a>
                </li>

                <li id="orders" class="nav-item ">
                    <a href="#" href="" class="nav-link">
                        <i class="bi bi-bag-check"></i> سفارش‌های من
                        <span class="badge rounded-pill badge-spn">5</span>
                    </a>
                </li>

                <li id="tickets" class="nav-item ">
                    <a href="#" class="nav-link">
                        <i class="bi bi-ticket-perforated"></i> تیکت‌های من
                        <span class="badge rounded-pill badge-spn">5</span>
                    </a>
                </li>

                <li id="alerts" class="nav-item ">
                    <a href="#" class="nav-link">
                        <i class="bi bi-bell-fill"></i> پیام‌ها و اطلاعیه‌ها
                        <span class="badge rounded-pill badge-spn">5</span>
                    </a>
                </li>

                <li id="favorites" class="nav-item ">
                    <a href="#" class="nav-link">
                        <i class="bi bi-heart-fill"></i> محصولات مورد علاقه
                    </a>
                </li>

                <li id="addresses" class="nav-item ">
                    <a href="#" class="nav-link">
                        <i class="bi bi-geo-alt"></i> آدرس‌های من
                    </a>
                </li>

                <li id="bank-carts" class="nav-item ">
                    <a href="#" class="nav-link">
                        <i class="bi bi-geo-alt"></i> شماره کارت های من
                    </a>
                </li>

                <li id="edit-profile" class="nav-item ">
                    <a href="#" class="nav-link">
                        <i class="bi bi-pencil-square"></i> ویرایش اطلاعات
                    </a>
                </li>

                <li id="logout" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="bi bi-box-arrow-right"></i> خروج از حساب کاربری
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>