{% extends "admin/admin-base.html" %}
{% block title %}| برند محصولات {% endblock %}
{% block inner_title %} برند محصولات {% endblock %}
{% block card_title %}برندها{% endblock%}
{% block panel_content %}

<a href="{% url 'brand_create' %}" class="btn btn-primary p-2 m-2">افزودن برند جدید</a>
{% if brands %}
<table>
    <thead>
        <tr>
            <th>نام</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.name }}</td>
                <td>
                    <a class="action-link" href="{% url 'brand_update' brand.pk %}" title="تغییر">
                        <i class="icon ti-pencil-alt"></i>
                    </a>
                    <a class="action-link" href="{% url 'brand_delete' brand.pk %}" title="حذف">
                        <i class="icon ti-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
