<header class="header">
    <div class="container-fluid">
        <div class="row gy-3 align-items-center">

            {% include "partials/header/logo.html" %}
            {% include "partials/header/desktop-search.html" %}
            {% include "partials/header/buttons.html" %}
            {% include "partials/header/mobile-hamburger-menu.html" %}
            {% include "partials/header/mobile-search-n-basket.html" %}
            
        </div>
    </div>
</header>

{% include "partials/header/mega-menu.html" %}