{% extends "website/panel/panel-base.html" %}
{% load static %}
{% block panel_content %}
<div class="slider-title">
    <div class="slider-title-desc">
        <div class="slider-title-title pb-4">
            <h2 class="h1"><span class="title-font main-color-one-color">آخرین</span> سفارشات</h2>
        </div>
    </div>
</div>
<div class="panel-latest-order">

    <div class="table-responsive shadow-box roundedTable p-0">
        <table class="table  main-table rounded-0">
            <thead class="text-center">
            <tr>
                <th class="title-font">#</th>
                <th class="title-font">شماره سفارش</th>
                <th class="title-font">تاریخ ثبت سفارش</th>
                <th class="title-font">مبلغ پرداختی</th>
                <th class="title-font">وضعیت سفارش</th>
                <th class="title-font">جزییات</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr>
                <td class="font-14">1</td>
                <td class="font-14">2354632</td>
                <td class="font-14">سه شنبه 13 دی 1401</td>
                <td class="font-14">580,000 تومان</td>
                <td class="font-14"><a href="" class="title-font">سفارش مرجوع شده</a></td>
                <td class="font-14">
                    <a href="" class="btn border-0 main-color-one-bg waves-effect waves-light"><i class="bi bi-chevron-left"></i></a>
                </td>
            </tr>
            <tr>
                <td class="font-14">2</td>
                <td class="font-14">2354632</td>
                <td class="font-14">سه شنبه 13 دی 1401</td>
                <td class="font-14">580,000 تومان</td>
                <td class="font-14"><a href="" class="title-font">سفارش لغو شده</a></td>
                <td class="font-14">
                    <a href="" class="btn border-0 main-color-one-bg waves-effect waves-light"><i class="bi bi-chevron-left"></i></a>
                </td>
            </tr>
            <tr>
                <td class="font-14">1</td>
                <td class="font-14">2354632</td>
                <td class="font-14">سه شنبه 13 دی 1401</td>
                <td class="font-14">580,000 تومان</td>
                <td class="font-14"><a href="" class="title-font">سفارش تحویل داده شده</a></td>
                <td class="font-14">
                    <a href="" class="btn border-0 main-color-one-bg waves-effect waves-light"><i class="bi bi-chevron-left"></i></a>
                </td>
            </tr>
            <tr>
                <td class="font-14">2</td>
                <td class="font-14">2354632</td>
                <td class="font-14">سه شنبه 13 دی 1401</td>
                <td class="font-14">580,000 تومان</td>
                <td class="font-14"><a href="" class="title-font">سفارش در انتظار پرداخت</a></td>
                <td class="font-14">
                    <a href="" class="btn border-0 main-color-one-bg waves-effect waves-light"><i class="bi bi-chevron-left"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="my-paginate mt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link rounded-3" href="#"><i class="bi bi-chevron-right"></i></a>
                </li>
                <li class="page-item active"><a class="page-link rounded-3" href="#">1</a></li>
                <li class="page-item"><a class="page-link rounded-3" href="#">2</a></li>
                <li class="page-item"><a class="page-link rounded-3" href="#">3</a></li>
                <li class="page-item"><a class="page-link rounded-3" href="#">...</a></li>
                <li class="page-item"><a class="page-link rounded-3" href="#">14</a></li>
                <li class="page-item"><a class="page-link rounded-3" href="#">15</a></li>
                <li class="page-item"><a class="page-link rounded-3" href="#">16</a></li>
                <li class="page-item">
                    <a class="page-link rounded-3" href="#"><i class="bi bi-chevron-left"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}