{% extends "admin/admin-base.html" %}
{% block title %}| کشور تولید کننده {% endblock %}
{% block inner_title %} کشور محصولات {% endblock %}
{% block card_title %}کشورها{% endblock%}
{% block panel_content %}

<p><a href="{% url 'country_create' %}" class="btn btn-primary p-2 m-2">افزودن کشور جدید</a></p>
{% if countries %}
<table>
    <thead>
        <tr>
            <th>نام</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.name }}</td>
                <td>
                    <a class="action-link" href="{% url 'country_update' country.pk %}" title="تغییر">
                        <i class="icon ti-pencil-alt"></i>
                    </a>
                    <a class="action-link" href="{% url 'country_delete' country.pk %}" title="حذف">
                        <i class="icon ti-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
