{% if categories %}
<ul class="navbar-nav h-0">
    {% for category in categories %}
    <li class="nav-item bg-ul-f7">
        <a href="{% url 'search_products' %}?category={{ category.slug }}" class="nav-link">
            {{ category.name }}
        </a>
        {% if category.children %}
            <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
            {% include 'website/mobile-categories.html' with categories=category.children %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}