{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>پنل ادمین {% block title %} {% endblock %}</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'admin/assets/media/image/favicon.png' %}">
	<meta name="theme-color" content="#5867dd">
	<link rel="stylesheet" href="{% static 'admin/vendors/bundle.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'admin/assets/css/app.css' %}" type="text/css">
    <link rel="stylesheet" href='{% static "admin/assets/css/custom.css" %}'>
	{% block extra_css %} 
	{% endblock %}
</head>

<body class="small-navigation">

    {% if messages %}
    <div id="notification-container" class="notification-container">
        {% for message in messages %}
            <div class="notification notification-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

	<!-- begin::page loader-->
	<div class="page-loader">
		<div class="spinner-border"></div>
	</div>
	<!-- end::page loader -->

	<!-- begin::navigation -->
	<div class="navigation">
		<div class="navigation-icon-menu">
			<ul>
				<li class="active" data-toggle="tooltip" title="داشبورد">
					<a href="#navigationDashboards" title="داشبوردها">
						<i class="icon ti-pie-chart"></i>
					</a>
				</li>
				<li data-toggle="tooltip" title="محصولات">
					<a href="#navigationProducts" title="محصولات">
						<i class="icon ti-shopping-cart"></i>
					</a>
				</li>
				<li data-toggle="tooltip" title="سفارشات">
					<a href="#navigationOrders">
						<i class="icon ti-receipt"></i>
                        <span class="badge badge-warning">2</span>
					</a>
				</li>
				<li data-toggle="tooltip" title="پشتیبانی">
					<a href="#navigationSupport">
						<i class="icon ti-headphone-alt"></i>
                        <span class="badge badge-warning">2</span>
					</a>
				</li>
				<li  data-toggle="tooltip" title="کاربران">
					<a href="#navigationUsers" title="کاربران">
						<i class="icon ti-id-badge"></i>
					</a>
				</li>
				<li  data-toggle="tooltip" title="تخفیف">
					<a href="#navigationDiscount" title="تخفیف">
						<i class="icon ti-gift"></i>
					</a>
				</li>
				<li  data-toggle="tooltip" title="وبلاگ">
					<a href="#navigationBlog" title="وبلاگ">
						<i class="icon ti-book"></i>
					</a>
				</li>
			</ul>
			<ul>
				<li data-toggle="tooltip" title="پروفایل">
					<a href="#" class="go-to-page">
						<i class="icon ti-user"></i>
					</a>
				</li>
				<li data-toggle="tooltip" title="خروج">
					<a href="login.html" class="go-to-page">
						<i class="icon ti-shift-right"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="navigation-menu-body">
			<ul id="navigationDashboards" class="navigation-active">
				<li class="navigation-divider">داشبورد</li>
				<li>
					<a href="dashboard-two.html">آمار محصولات </a>
				</li>
                <li>
                    <a href="dashboard-three.html">آمار سفارشات</a>
                </li>
				<li>
					<a href="dashboard-three.html">آمار پشتیبانی</a>
				</li>
				<li>
					<a href="widgets.html">آمار وبسایت</a>
				</li>
				<li class="navigation-divider">خلاصه</li>
				<li>
					<a href="#" class="mb-2">
						<div class="d-flex align-items-center">
							<div>
								<div class="icon-block bg-warning text-white mr-3">
									<i class="ti-bar-chart"></i>
								</div>
							</div>
							<div>
								<h6 class="font-size-13 line-height-22 primary-font m-b-5">مجموع فروش</h6>
								<h4 class="m-b-0 primary-font font-weight-bold line-height-30">15,687</h4>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="mb-2">
						<div class="d-flex align-items-center">
							<div>
								<div class="icon-block bg-warning text-white mr-3">
									<i class="ti-bar-chart"></i>
								</div>
							</div>
							<div>
								<h6 class="font-size-13 line-height-22 primary-font m-b-5">محصولات</h6>
								<h4 class="m-b-0 primary-font font-weight-bold line-height-30">15,687</h4>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="mb-2">
						<div class="d-flex align-items-center">
							<div>
								<div class="icon-block bg-success text-white mr-3">
									<i class="ti-email"></i>
								</div>
							</div>
							<div>
								<h6 class="font-size-13 line-height-22 primary-font m-b-5">مجموع تیکت ها</h6>
								<h4 class="m-b-0 primary-font font-weight-bold line-height-30">214</h4>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="d-flex align-items-center">
							<div>
								<div class="icon-block bg-info text-white mr-3">
									<i class="ti-user"></i>
								</div>
							</div>
							<div>
								<h6 class="font-size-13 line-height-22 primary-font m-b-5">بازدید کنندگان</h6>
								<h4 class="m-b-0 primary-font font-weight-bold line-height-30">30,313</h4>
							</div>
						</div>
					</a>
				</li>
			</ul>
			<ul id="navigationProducts">
				<li class="navigation-divider">محصولات</li>
				<li>
					<a href="{% url 'brand_list' %}">برند</a>
				</li>
				<li>
					<a href="{% url 'country_list' %}">کشور تولید کننده</a>
				</li>
				<li>
					<a href="{% url 'material_list' %}">جنس</a>
				</li>
				<li>
					<a href="{% url 'detail_list' %}">جزئیات محصول</a>
				</li>
				<li>
					<a href="{% url 'category_tree' %}">دسته بندی</a>
				</li>
				<li>
					<a href="calendar.html">محصول</a>
				</li>
				<li>
					<a href="gallery.html">گالری</a>
				</li>
			</ul>
			<ul id="navigationOrders">
				<li class="navigation-divider">سفارشات <span class="badge badge-warning">2</span></li>
				<li><a href="sweet-alert.html">در انتظار تائید</a></li>
				<li><a href="lightbox.html">در حال بررسی</a></li>
				<li><a href="toast.html">تحویل شده به پست </a></li>
				<li><a href="slick-slide.html">مرجوعی</a></li>
				<li><a href="tour.html">همه سفارشات </a></li>
			</ul>
			<ul id="navigationSupport">
				<li class="navigation-divider">پشتیبانی <span class="badge badge-warning">2</span></li>
				<li>
					<a href="#">تیکت ها</a>
					<ul>
						<li><a href="alerts.html">در انتظار پاسخ</a></li>
						<li><a href="buttons.html">تیکت های بسته شده</a></li>
						<li><a href="badge.html">همه تیکت ها </a></li>
					</ul>
				</li>
				<li>
					<a href="#">تماس با ما</a>
					<ul>
						<li><a href="basic-form.html">خوانده نشده</a></li>
						<li><a href="custom-form.html">پاسخ داده شده</a></li>
						<li><a href="advanced-form.html">همه تماس ها</a></li>
					</ul>
				</li>
				<li>
					<a href="#">هشدار ها</a>
					<ul>
						<li><a href="advanced-form.html">همه هشدار ها</a></li>
						<li><a href="basic-form.html">ایجاد هشدار جدید</a></li>
					</ul>
				</li>
			</ul>
			<ul id="navigationUsers">
				<li class="navigation-divider">کاربران</li>
				<li><a href="profile.html">کاربران</a></li>
				<li><a href="profile.html">ادمین ها</a></li>
				<li><a href="timeline.html">ارسال پیام انبوه</a></li>
			</ul>
			<ul id="navigationBlog">
				<li><a href="profile.html">وبلاگ ها</a></li>
			</ul>
			<ul id="navigationDiscount">
				<li><a href="profile.html">همه تخفیف ها</a></li>
				<li><a href="profile.html">تخفیف روی محصولات</a></li>
				<li><a href="profile.html">تخفیف برای کاربران</a></li>
			</ul>
		</div>
	</div>
	<!-- end::navigation -->

	<!-- begin::header -->
	<div class="header">

		<!-- begin::header logo -->
		<div class="header-logo">
			<a href="index.html">
				<img class="large-logo" src="{% static 'admin/assets/media/image/logo.png' %}" alt="image">
				<img class="small-logo" src="{% static 'admin/assets/media/image/logo-sm.png' %}" alt="image">
				<img class="dark-logo" src="{% static 'admin/assets/media/image/logo-dark.png' %}" alt="image">
			</a>
		</div>
		<!-- end::header logo -->

		<!-- begin::header body -->
		<div class="header-body">

			<div class="header-body-left">
				<h3 class="page-title">{% block inner_title %}{% endblock %}</h3>
			</div>
			<div class="header-body-right">
                <div class="d-flex align-items-center">
                    <div class="d-xl-none d-lg-none d-sm-block navigation-toggler">
                        <a href="#">
                            <i class="ti-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
		</div>
		<!-- end::header body -->
	</div>
	<!-- end::header -->

	<!-- begin::main content -->
	<main class="main-content" id="panel_content">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">{% block card_title %} {% endblock%}</div>
					<div class="card-body">
						{% block panel_content %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
		
	</main>
	<!-- end::main content -->

	<script src="{% static 'admin/vendors/bundle.js' %}"></script>
	<script src="{% static 'admin/assets/js/custom.js' %}"></script>
	<script src="{% static 'admin/assets/js/app.js' %}"></script>
	{% block extra_js %}
	{% endblock %}

</body>

</html>