{% if category_tree %}
    <ul>
        {% if is_root %}
            <li><a href="{% url 'category_create' %}">Create Category in Root Level</a></li>
        {% endif %}
        {% for node in category_tree %}
            <li>
                <span>{{ node.category.name }}</span>
                <a href="{{ node.update_url }}">Update</a>
                <a href="{{ node.delete_url }}" onclick="return confirm('Are you sure you want to delete this category?')">Delete</a>
                {% if node.children %}
                    <ul>
                        <li><a href="{{ node.create_this_level_url }}">Create Category in This Level</a></li>
                        {% include "categories/category_tree.html" with category_tree=node.children is_root=False %}
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="{{ node.create_this_level_url }}">Create Category in This Level</a></li>
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div>
        <p>No categories found.</p>
        <a href="{% url 'category_create' %}" class="btn btn-primary">Create Root Category</a>
    </div>
{% endif %}

