.notification-container {
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.notification {
    padding: 16px 24px;
    border-radius: 8px;
    color: #fff;
    font-size: 1em;
    box-shadow: 0 8x 8px rgba(0, 0, 0, 0.1);
    animation: fade-in 0.3s ease-out, fade-out 0.3s ease-in 4s;
}

.notification-success {
    background-color: #2fcf55;
}

.notification-error {
    background-color: #dc3545;
}

.notification-info {
    background-color: #17a2b8;
}

.notification-warning {
    background-color: #ffc107;
}

.notification {
    transition: opacity 0.5s ease-out;
}

.notification.fade {
    opacity: 0;
    pointer-events: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.ltr-text {
    direction: ltr
}

/* Recursive category */
.rm-item-menu ul {
    height: auto;
    width: 100%;
    background: #fff;
}

.rm-item-menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-right: 1px solid black;
    padding: 0px 16px;
}


.rm-item-menu li i {
    color: #222;
    font-size: 16px;
    font-weight: bold;
}


.rm-item-head {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 16px;
}

.rm-item-head-end {
    display: flex;
    align-items: center;
}

.action-link i {
    font-size: 16px !important;
    font-weight: bold !important;
    color: black !important; 
    padding: 8px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.action-link:hover i {
    transform: scale(1.3) !important; /* Slight zoom on hover */
    color: blue !important; /* Change color on hover */
}

.rm-item-menu li .rm-item-head .rm-item-head-end .showCategorySubMenu i {
    transition: transform 0.3s ease;
}

.rm-item-menu li .rm-item-head .rm-item-head-end .showCategorySubMenu.open i {
    transform: rotate(180deg);
}

ul.h-0 {
    display: none;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

ul.show {
    display: block !important;
    height: auto !important;
    opacity: 1;
    visibility: visible;
}

.showCategorySubMenu {
    cursor: pointer;
    display: block;
    display: flex;
}

