.login_body {
    background: url('../img/bg-auth.jpg') no-repeat center center;
    background-size: cover
}

.otp_body {
    background: url('../img/bg-auth.jpg') no-repeat center center;
    background-size: cover
}

.notification-container {
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.notification {
    padding: 16px 24px;
    border-radius: 8px;
    color: #fff;
    font-size: 1em;
    box-shadow: 0 8x 8px rgba(0, 0, 0, 0.1);
    animation: fade-in 0.3s ease-out, fade-out 0.3s ease-in 4s;
}

.notification-success {
    background-color: #2fcf55;
}

.notification-error {
    background-color: #dc3545;
}

.notification-info {
    background-color: #17a2b8;
}

.notification-warning {
    background-color: #ffc107;
}

.notification {
    transition: opacity 0.5s ease-out;
}

.notification.fade {
    opacity: 0;
    pointer-events: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.ltr-text {
    direction: ltr
}

.instagram-icon {
    color: #E4405F !important;
}

.whatsapp-icon {
    color: #25D366 !important;
}

.telegram-icon {
    color: #0088CC !important;
}

.profile-box-nav ul li:hover {
    cursor: pointer;
}

/* Loader styles */
.loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Recursive desktop menu */
.recursive-category ul.main-ul {
    align-items: unset;
    background-color: #fff;
    box-shadow: var(--shadow-md);
    height: auto;
    min-width: 200px;
    position: absolute;
    top: 98%;
    left: auto;
    right: auto;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    transition: 0.4s all ease-in-out;
    border-radius: 10px;
}

.recursive-category ul.main-ul li {
    width: 100%;
    margin: 0;
    padding: 15px 0;
    border-radius: 10px;
    position: relative;
}

.recursive-category ul.main-ul li a {
    display: block;
    padding: 0 8px;
}

.recursive-category ul.main-ul i {
    font-size: 16px;
    vertical-align: middle;
    color: #333;
    float: left;
    transition: 0.3s all ease-in-out;
}

/* Sub-menu styles (sub-ul) */
.recursive-category ul.sub-ul {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    height: auto;
    min-width: 200px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    transition: 0.4s all ease-in-out;
    border-radius: 10px;
}

.recursive-category .main-ul li:hover>a {
    color: #fff !important;
}

.recursive-category .main-ul li:hover>a i {
    color: #fff !important;
}

.recursive-category .main-ul li:hover {
    background: var(--main-color-one);
}

/* Visibility toggle for main-ul items */
.recursive-category li:hover>ul.main-ul,
.recursive-category li:hover>ul.sub-ul {
    opacity: 1;
    visibility: visible;
}

.toggle-checkbox:checked+.d-flex .toggle-label i {
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}