<div class="slider-title">
    <div class="slider-title-desc">
        <div class="slider-title-title pb-4">
            <h2 class="h1"><span class="title-font main-color-one-color">آخرین</span> پیام ها</h2>
        </div>
    </div>
</div>
<div class="panel-alert">
    <div class="panel-meta-item mb-3 d-flex align-items-center">
        <div class="panel-meta-item-icon bg-success">
            <i class="bi bi bi-send"></i>
        </div>
        <div class="panel-meta-title d-flex flex-column">
            <h6 class="h5 title-font">عنوان پیغام</h6>
            <p class="mb-0 text-justify font-15 mt-2 text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
    </div>
    <div class="panel-meta-item mb-3 d-flex align-items-center">
        <div class="panel-meta-item-icon bg-danger">
            <i class="bi bi bi-send"></i>
        </div>
        <div class="panel-meta-title d-flex flex-column">
            <h6 class="h5 title-font">عنوان پیغام</h6>
            <p class="mb-0 text-justify font-15 mt-2 text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
    </div>
    <div class="panel-meta-item mb-3 d-flex align-items-center">
        <div class="panel-meta-item-icon bg-warning">
            <i class="bi bi bi-send"></i>
        </div>
        <div class="panel-meta-title d-flex flex-column">
            <h6 class="h5 title-font">عنوان پیغام</h6>
            <p class="mb-0 text-justify font-15 mt-2 text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
    </div>
    <div class="panel-meta-item d-flex align-items-center">
        <div class="panel-meta-item-icon bg-primary">
            <i class="bi bi bi-send"></i>
        </div>
        <div class="panel-meta-title d-flex flex-column">
            <h6 class="h5 title-font">عنوان پیغام</h6>
            <p class="mb-0 text-justify font-15 mt-2 text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
    </div>
</div>