{% extends "admin/admin-base.html" %}
{% block title %}| دسته بندی محصولات {% endblock %}
{% block inner_title %} دسته بندی محصولات {% endblock %}
{% block card_title %}دسته بندی{% endblock%}
{% block panel_content %}
{% if parent %}
    <p>ایجاد زیرشاخه برای: <strong>{{ parent }}</strong></p>
{% endif %}

{% if object %}
    <p> در حال تغییر: <strong>{{ object }}</strong></p>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary p-2 m-2">ذخیره</button>
</form>
<a href="{% url 'category_tree' %}" class="btn btn-primary p-2 m-2">بازگشت</a>
 
{% endblock %}