{% if category_tree %}
<ul class="rm-item-menu">
    {% if is_root %}
    <li>
        <a href="{% url 'category_create' %}" class="btn btn-primary p-2 m-2">افزودن دسته بندی اصلی</a>
    </li>
    {% endif %}
    {% for node in category_tree %}
    <li>
        <div class="rm-item-head">
            <div class="rm-item-head-start">
                <span class="nestable-category-name">{{ node.category }}</span>
            </div>
            <div class="rm-item-head-end">
                <a class="action-link" href="{{ node.update_url }}" title="تغییر">
                    <i class="icon ti-pencil-alt"></i>
                </a>
                <a class="action-link" href="{{ node.delete_url }}" title="حذف">
                    <i class="icon ti-trash"></i>
                </a>
                <a class="action-link" href="{{ node.create_this_level_url }}" title="افزودن زیرشاخه">
                    <i class="icon ti-plus"></i>
                </a>

                {% if node.children %}
                <span class="showCategorySubMenu"><i class="icon ti-angle-down"></i></span>
                {% else %}
                <span class="opacity-0"><i class="icon ti-angle-down"></i></span>
                {% endif %}
            </div>
        </div>
        {% if node.children %}
        <ul class="h-0">
            {% include "admin/category/category_tree.html" with category_tree=node.children is_root=False %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% elif is_root %}
<div>
    <p>هیچ دسته بندی پیدا نشد.</p>
    <a href="{% url 'category_create' %}" class="btn btn-primary p-2 m-2">
        افزودن دسته بندی اصلی
    </a>
</div>
{% endif %}