<div class="col-xl-4 col-6">
    <div class="header-btn">
        <div class="header-cart d-lg-block d-none">
            <a data-bs-toggle="offcanvas" href="#offcanvasCart" role="button"
                aria-controls="offcanvasCart" class="btn main-color-one-bg">
                <i class="bi bi-basket-fill"></i>
                <span>سبد خرید</span>
                <span id="cartCounter" class="cart-counter">0</span>
            </a>
        </div>
        {% if request.user.is_authenticated %}
        <div class="header-btn-login-responsive d-lg-block d-block">
            <a href="{% url 'user_logout' %}" class="btn"><i class="bi bi-person-fill fs-1"></i></a>
        </div>
        {% else%}
        <div class="header-btn-login d-lg-block d-none">
            <a href="{% url 'user_login' %}" class="btn"><i class="bi bi-person "></i> ورود / ثبت
                نام</a>
        </div>
        <div class="header-btn-login-responsive d-lg-none d-block">
            <a href="" class="btn"><i class="bi bi-person fs-1"></i></a>
        </div>
        {% endif %}

        <div class="header-btn-favorite">
            <a href="" class="btn"><i class="bi bi-heart"></i></a>
        </div>
    </div>
</div>