<div class="col-sm-11 col-10 d-xl-none d-block">
    <div class="d-flex">
        <div class="header-form w-100">
            {% include 'partials/global/search-product-name-sku-desc-form.html' %}
        </div>
        <div class="text-end ms-2 d-block d-lg-none">
            <a data-bs-toggle="offcanvas" href="#offcanvasCart" role="button"
                aria-controls="offcanvasCart" class="btn border-0 main-color-green"><i
                    class="bi bi-basket text-white"></i></a>
        </div>
    </div>
</div>