{% load static %}
<!doctype html>
<html class="no-js" lang="Fa_IR" dir="rtl">
<head>
    <meta charset="utf-8">
    <title>{% block title %}فروشگاه بهزاد{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href='{% static "website/img/apple-touch-icon.png" %}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{% static "website/img/favicon-32x32.png" %}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{% static "website/img/favicon-16x16.png" %}'>
    
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href='{% static "website/css/normalize.css" %}'>
    <link rel="stylesheet" href='{% static "website/font/bootstrap-icon/bootstrap-icons.min.css" %}'>
    <link rel="stylesheet" href='{% static "website/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "website/js/plugin/swiper/swiper-bundle.min.css" %}'>
    <link rel="stylesheet" href='{% static "website/js/plugin/countdown/countdown.css" %}'>
    <link rel="stylesheet" href='{% static "website/js/plugin/rasta-contact/style.css" %}'>
    <link rel="stylesheet" href='{% static "website/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" %}'>
    <link rel="stylesheet" href='{% static "website/css/main.css" %}'>
    <link rel="stylesheet" href='{% static "website/css/responsive.css" %}'>
    <link rel="stylesheet" href='{% static "website/css/custom.css" %}'>

    <meta name="theme-color" content="#f4f5f9">
</head>

<body class="{% block body_class %} default-class {% endblock %}" id="{% block body_id %} default-id {% endblock %}">

    {% if messages %}
    <div id="notification-container" class="notification-container">
        {% for message in messages %}
            <div class="notification notification-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="content vh-100">
        <div class="container-fluid h-100">
            <div class="auth h-100 d-flex align-items-center">
                <div class="container-fluid">
                    <div class="auth-items">
                        <div class="row justify-content-center">
                            <div class="col-lg-4">

                                <div class="auth-logo text-center">
                                    <a href="">
                                        <img src="{% static 'website/img/logo.png' %}" width="200" alt="">
                                    </a>
                                </div>
                                <div class="auth-form shadow-xl rounded-3 mt-5 bg-white">
                                    <div class="auth-form-title mb-4 slider-title-desc-center">
                                        <h2 class="text-center h4 text-muted title-font">
                                            {% if "website-manager" in request.path %}
                                                ورود سایت ادمین
                                            {% else %}
                                                ورود / ثبت نام
                                            {% endif %}</h2>
                                    </div>
                                    {% block content %}
                                    {% endblock %}
                                </div>
                                <p class="loginTermsDesc">
                                    با ورود و یا ثبت نام در شاهان شما 
                                    <a class="underlined main-color-one-color fw-bold" href="/rules/">شرایط و قوانین</a> 
                                    استفاده از سرویس‌های سایت شاهان و 
                                    <a class="underlined main-color-one-color fw-bold" href="/privacy-polices/">قوانین حریم خصوصی</a> 
                                    آن را می‌پذیرید.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src='{% static "website/js/vendor/modernizr-3.11.2.min.js" %}'></script>
    <script src='{% static "website/js/vendor/jquery-3.7.1.min.js" %}'></script>
    <script src='{% static "website/js/vendor/bootstrap.bundle-5.3.2.min.js" %}'></script>
    <script src='{% static "website/js/plugin/swiper/swiper-bundle.min.js" %}'></script>
    <script src='{% static "website/js/plugin/countdown/countdown.js" %}'></script>
    <script src='{% static "website/js/plugin/vanilla-tilt/vanilla-tilt.min.js" %}'></script>
    <script src='{% static "website/js/plugin/rasta-contact/script.js" %}'></script>
    <script src='{% static "website/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js" %}'></script>
    <script src='{% static "website/js/plugins.js" %}'></script>
    <script src='{% static "website/js/main.js" %}'></script>
    <script src='{% static "website/js/notification.js" %}'></script>
    {% block extra_js %}
    {% endblock %}


</body>
</html>