{% extends 'base/auth-base.html' %}
{% load static %}


{% block title %}
ورود - ثبت نام | بیوتی پلاس
{% endblock %}

{% block body_class %}login_body{% endblock %}
{% block body_id %}login-page{% endblock %}

{% block content %}
<form action="{% url 'customer_login' %}" method="POST">
    {% csrf_token %}

    <div class="comment-item mb-3">
        <input type="tel" name="phone_number" class="form-control" id="floatingInputPhone" placeholder="09123456789"
            required oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('شماره موبایل خود را وارد کنید')" {% if request.session.phone_number %}
            value="{{ request.session.phone_number }}" {% else %} value="" {% endif%}>
        <label for="floatingInputPhone" class="form-label label-float">شماره موبایل خود را وارد کنید</label>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success w-100 mt-4 btn-login">ورود به سایت</button>
    </div>
</form>

{% endblock %}