{% extends 'base/auth-base.html' %}
{% load static %}


{% block title %}
کد یکبارمصرف | بیوتی پلاس
{% endblock %}

{% block body_class %}otp_body{% endblock %}
{% block body_id %}otp-page{% endblock %}

{% block content %}
<div class="alert text-center alert-success">
    یک کد برای شما پیامک شد لطفا آن را وارد کنید
</div>

<form action="{% url 'user_otp_check' %}" method="POST">
    {% csrf_token %}

    <div id="otp-input">
        <input placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*"
            name="otp_digit_1" />
        <input placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*"
            name="otp_digit_2" />
        <input placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*"
            name="otp_digit_3" />
        <input placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*"
            name="otp_digit_4" />
        <input placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*"
            name="otp_digit_5" />
        <input placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*"
            name="otp_digit_6" />
        <input id="otp-value" type="hidden" name="otp" />
    </div>

    <div class="countDownContainer">
        <div id="config" data-customer-login-url="{% url 'user_login' %}">
        </div>

        <div class="countdown-bar" id="countdownB">
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="form-group mt-3">
        <button type="submit" id="submit" class="btn btn-success w-100 mt-4 btn-login">وورد به سایت</button>
    </div>
</form>

{% endblock %}
{% block extra_js %}
<script src='{% static "js/plugin/otp-sms/otp-input.js" %}'></script>
<script src='{% static "js/plugin/otp-loader/script.js" %}'></script>
<script src='{% static "js/otp.js" %}'></script>
{% endblock %}