{% extends "admin/admin-base.html" %}
{% block title %}| محصولات{% endblock %}
{% block inner_title %} محصولات{% endblock %}
{% block card_title %}محصولات{% endblock%}
{% block panel_content %}

<a href="{% url 'product_create' %}" class="btn btn-primary p-2 m-2">افزودن محصول جدید</a>
{% if products %}
<table>
    <thead>
        <tr>
            <th>نام</th>
            <th>کد</th>
            <th>قیمت</th>
            <th>موجودی</th>
            <th>فروش</th>
            <th>فعال</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.sku }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantitiy }}</td>
                <td>{{ product.sales }}</td>
                <td>{{ product.is_active }}</td>
                <td>
                    <a class="action-link" href="{% url 'product_update' product.pk %}" title="تغییر">
                        <i class="icon ti-pencil-alt"></i>
                    </a>
                    <a class="action-link" href="{% url 'product_update' product.pk %}" title="افزایش موجودی">
                        <i class="icon ti-pencil-alt"></i>
                    </a>
                    <a class="action-link" href="{% url 'product_delete' product.pk %}" title="حذف">
                        <i class="icon ti-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
