{% extends "website/panel/panel-base.html" %}
{% load static %}
{% block panel_content %}
<div class="col-lg-9">
    <div class="position-sticky top-0">
        <div class="slider-title mt-4">
            <div class="slider-title-desc">
                <div class="slider-title-title pb-4">
                    <h2 class="h1"><span class="title-font main-color-one-color">محصولات</span> مورد علاقه </h2>
                </div>
            </div>
        </div>

        <div class="penel-form">
            <div class="content-box">
                <div class="container-fluid">
                    <div class="row g-3">
                        <div class="col-lg-4 col-md-6">
                            <div class="cart-canvas border p-3">
                                <div class="row align-items-center">
                                    <div class="col-4 ps-0">
                                        <img src="assets/img/product/wach1.jpg" alt="">
                                    </div>
                                    <div class="col-8">
                                        <a href="">
                                            <h3 class="text-overflow-1 title-font font-14">ساعت مچی عقربه‌ای مردانه اینویکتا مدل
                                                Automatico Ghost Reserve
                                            </h3>
                                        </a>
                                        <div class="cart-canvas-price my-3 d-flex align-items-center">
                                            <p class="mb-0 text-muted me-2 font-16 text-decoration-line-through">5,400,000</p>
                                            <h6 class="title-font main-color-one-color">3,200,000 تومان</h6>
                                        </div>
                                        <div class="cart-canvas-foot d-flex align-items-center justify-content-end">
                                            <div class="cart-canvas-delete">
                                                <a href="" class="btn"><i class="bi bi-x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="cart-canvas border p-3">
                                <div class="row align-items-center">
                                    <div class="col-4 ps-0">
                                        <img src="assets/img/product/wach2.jpg" alt="">
                                    </div>
                                    <div class="col-8">
                                        <a href="">
                                            <h3 class="text-overflow-1 title-font font-14">ساعت مچی عقربه‌ای مردانه اینویکتا مدل
                                                Automatico Ghost Reserve
                                            </h3>
                                        </a>
                                        <div class="cart-canvas-price my-3 d-flex align-items-center">
                                            <p class="mb-0 text-muted me-2 font-16 text-decoration-line-through">5,400,000</p>
                                            <h6 class="title-font main-color-one-color">3,200,000 تومان</h6>
                                        </div>
                                        <div class="cart-canvas-foot d-flex align-items-center justify-content-end">
                                            <div class="cart-canvas-delete">
                                                <a href="" class="btn"><i class="bi bi-x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="cart-canvas border p-3">
                                <div class="row align-items-center">
                                    <div class="col-4 ps-0">
                                        <img src="assets/img/product/wach3.jpg" alt="">
                                    </div>
                                    <div class="col-8">
                                        <a href="">
                                            <h3 class="text-overflow-1 title-font font-14">ساعت مچی عقربه‌ای مردانه اینویکتا مدل
                                                Automatico Ghost Reserve
                                            </h3>
                                        </a>
                                        <div class="cart-canvas-price my-3 d-flex align-items-center">
                                            <p class="mb-0 text-muted me-2 font-16 text-decoration-line-through">5,400,000</p>
                                            <h6 class="title-font main-color-one-color">3,200,000 تومان</h6>
                                        </div>
                                        <div class="cart-canvas-foot d-flex align-items-center justify-content-end">
                                            <div class="cart-canvas-delete">
                                                <a href="" class="btn"><i class="bi bi-x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="cart-canvas border p-3">
                                <div class="row align-items-center">
                                    <div class="col-4 ps-0">
                                        <img src="assets/img/product/wach4.jpg" alt="">
                                    </div>
                                    <div class="col-8">
                                        <a href="">
                                            <h3 class="text-overflow-1 title-font font-14">ساعت مچی عقربه‌ای مردانه اینویکتا مدل
                                                Automatico Ghost Reserve
                                            </h3>
                                        </a>
                                        <div class="cart-canvas-price my-3 d-flex align-items-center">
                                            <p class="mb-0 text-muted me-2 font-16 text-decoration-line-through">5,400,000</p>
                                            <h6 class="title-font main-color-one-color">3,200,000 تومان</h6>
                                        </div>
                                        <div class="cart-canvas-foot d-flex align-items-center justify-content-end">
                                            <div class="cart-canvas-delete">
                                                <a href="" class="btn"><i class="bi bi-x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="cart-canvas border p-3">
                                <div class="row align-items-center">
                                    <div class="col-4 ps-0">
                                        <img src="assets/img/product/product-image4.jpg" alt="">
                                    </div>
                                    <div class="col-8">
                                        <a href="">
                                            <h3 class="text-overflow-1 title-font font-14">ساعت مچی عقربه‌ای مردانه اینویکتا مدل
                                                Automatico Ghost Reserve
                                            </h3>
                                        </a>
                                        <div class="cart-canvas-price my-3 d-flex align-items-center">
                                            <p class="mb-0 text-muted me-2 font-16 text-decoration-line-through">5,400,000</p>
                                            <h6 class="title-font main-color-one-color">3,200,000 تومان</h6>
                                        </div>
                                        <div class="cart-canvas-foot d-flex align-items-center justify-content-end">
                                            <div class="cart-canvas-delete">
                                                <a href="" class="btn"><i class="bi bi-x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="cart-canvas border p-3">
                                <div class="row align-items-center">
                                    <div class="col-4 ps-0">
                                        <img src="assets/img/product/product-image6.jpg" alt="">
                                    </div>
                                    <div class="col-8">
                                        <a href="">
                                            <h3 class="text-overflow-1 title-font font-14">ساعت مچی عقربه‌ای مردانه اینویکتا مدل
                                                Automatico Ghost Reserve
                                            </h3>
                                        </a>
                                        <div class="cart-canvas-price my-3 d-flex align-items-center">
                                            <p class="mb-0 text-muted me-2 font-16 text-decoration-line-through">5,400,000</p>
                                            <h6 class="title-font main-color-one-color">3,200,000 تومان</h6>
                                        </div>
                                        <div class="cart-canvas-foot d-flex align-items-center justify-content-end">
                                            <div class="cart-canvas-delete">
                                                <a href="" class="btn"><i class="bi bi-x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-paginate mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link rounded-3" href="#"><i class="bi bi-chevron-right"></i></a>
                    </li>
                    <li class="page-item active"><a class="page-link rounded-3" href="#">1</a></li>
                    <li class="page-item"><a class="page-link rounded-3" href="#">2</a></li>
                    <li class="page-item"><a class="page-link rounded-3" href="#">3</a></li>
                    <li class="page-item"><a class="page-link rounded-3" href="#">...</a></li>
                    <li class="page-item"><a class="page-link rounded-3" href="#">14</a></li>
                    <li class="page-item"><a class="page-link rounded-3" href="#">15</a></li>
                    <li class="page-item"><a class="page-link rounded-3" href="#">16</a></li>
                    <li class="page-item">
                        <a class="page-link rounded-3" href="#"><i class="bi bi-chevron-left"></i></a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
{% endblock %}