{% extends "website/website-base.html" %}
{% load static %}
{% block title %}
    | ناحیه کاربری
{% endblock %}
{% block bread_crumb %}
<li class="breadcrumb-item"><a href="#" class="font-14 text-muted-two">خانه</a></li>
<li class="breadcrumb-item"><a href="#" class="font-14 text-muted-two">فروشگاه</a></li>
<li class="breadcrumb-item active main-color-one-color font-14 fw-bold" aria-current="page">ناحیه کاربری</li>
{% endblock %}
            
{% block content %}
<div class="custom-filter d-lg-none d-block">
    <button class="btn btn-filter-float border-0 main-color-two-bg shadow-box px-4 rounded-3 position-fixed" style="z-index: 999;bottom:80px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <i class="bi bi-list font-20 fw-bold text-white"></i>
        <span class="d-block font-14 text-white">منو</span>
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">منو</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" id="mobile_user_panel">
            {% include 'website/panel/panel-base-nav.html' %}
        </div>
    </div>
</div>

<div class="panel position-relative">
    <div class="row gy-4">
        <div class="col-lg-3 d-lg-block d-none" id="desktop_user_panel">
            {% include 'website/panel/panel-base-nav.html' %}
        </div>
        <div class="col-lg-9" >
            <div class="position-sticky top-0" id="panel_content">
                <div id="panel-content-loader" class="loader-overlay d-none">
                    <div class="loader">
                     </div>
                </div>
                {% block panel_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src='{% static "website/js/panel.js" %}'></script>
{% endblock %}