{% load static %}
<div class="panel-nav-logo">
    <a href="" class="text-center d-block mb-3">
        <img src="{% static 'website/img/logo.png'%}" alt="" class="img-fluid" width="200">
    </a>
</div>
<div class="penel-nav">
    <div class="panel-nav-nav">
        <nav class="navbar profile-box-nav">
            <ul class="navbar-nav flex-column">
                <li data-url="{% url 'customer_profile' %}" class="nav-item ">
                    <a class="nav-link">
                        <i class="bi bi-person-circle"></i> پروفایل
                    </a>
                </li>
            
                <li data-url="{% url 'orders' %}" class="nav-item ">
                    <a class="nav-link">
                        <i class="bi bi-bag-check"></i> سفارش‌های من
                        <span class="badge rounded-pill badge-spn">5</span>
                    </a>
                </li>
            
                <li data-url="{% url 'tickets' %}" class="nav-item ">
                    <a class="nav-link">
                        <i class="bi bi-ticket-perforated"></i> تیکت‌های من
                        <span class="badge rounded-pill badge-spn">5</span>
                    </a>
                </li>
            
                <li data-url="{% url 'alerts' %}" class="nav-item ">
                    <a class="nav-link">
                        <i class="bi bi-bell-fill"></i> پیام‌ها و اطلاعیه‌ها
                        <span class="badge rounded-pill badge-spn">5</span>
                    </a>
                </li>
            
                <li data-url="{% url 'favorites' %}" class="nav-item ">
                    <a class="nav-link">
                        <i class="bi bi-heart-fill"></i> محصولات مورد علاقه
                    </a>
                </li>
            
                <li data-url="{% url 'addresses' %}" class="nav-item ">
                    <a class="nav-link">
                        <i class="bi bi-geo-alt"></i> آدرس‌های من
                    </a>
                </li>

                <li data-url="{% url 'bank_carts' %}"class="nav-item ">
                    <a class="nav-link">
                        <i class="bi bi-geo-alt"></i> شماره کارت های من 
                    </a>
                </li>
            
                <li data-url="{% url 'edit_profile' %}" class="nav-item ">
                    <a class="nav-link">
                        <i class="bi bi-pencil-square"></i> ویرایش اطلاعات
                    </a>
                </li>
            
                <li id="logout" class="nav-item">
                    <a href="{% url 'customer_logout' %}" class="nav-link">
                        <i class="bi bi-box-arrow-right"></i> خروج از حساب کاربری
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>