{% extends "website/panel/panel-base.html" %}
{% load static %}
{% block panel_content %}
<div class="col-lg-9">
    <div class="position-sticky top-0">
        <div class="slider-title mt-4">
            <div class="slider-title-desc">
                <div class="slider-title-title pb-4">
                    <h2 class="h1"><span class="title-font main-color-one-color">ویرایش</span> پروفایل </h2>
                </div>
            </div>
        </div>

        <div class="penel-form">
            <div class="content-box">
                <div class="container-fluid">
                    <form action="">
                        <div class="row g-4">
                            <div class="col-md-12">
                                <div class="comment-item mb-3">
                                    <input type="text" class="form-control text-center fw-bold fs-5 bg-light ltr-text" id="floatingInputTel" value="0914***6078" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="comment-item mb-3">
                                    <input type="text" class="form-control" id="floatingInputName" placeholder="نام خود را وارد کنید...">
                                    <label for="floatingInputName" class="form-label label-float fw-bold font-16">نام</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="comment-item mb-3">
                                    <input type="text" class="form-control" id="floatingInputLName" placeholder="نام خانوادگی خود را وارد کنید ...">
                                    <label for="floatingInputLName" class="form-label label-float fw-bold">نام خانوادگی </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="comment-item" for="floatingInputOstan">
                                    <label class="label-float fw-bold">استان</label>
                                    
                                    <select name="" id="floatingInputOstan" class="form-select">
                                        <option value="">تهران</option>
                                        <option value="">اصفهان</option>
                                        <option value="">مشهد</option>
                                        <option value="">شیراز</option>
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="comment-item">
                                    <label class="label-float fw-bold" for="floatingInputCity">شهر</label>
                                    <form action="">
                                        <select name="" id="floatingInputCity" class="form-select">
                                            <option value="">کرج</option>
                                            <option value="">خرم آباد</option>
                                            <option value="">نور آباد</option>
                                            <option value="">الشتر</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="comment-item mb-3">
                                    <input type="text" class="form-control" id="floatingInputStreet" placeholder=" آدرس خود را وارد کنید ...">
                                    <label for="floatingInputStreet" class="form-label label-float fw-bold">آدرس</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <button type="submit" class="btn product-meta-add-to-cart-btn main-color-one-bg rounded-pill">
                                        ویرایش
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
